.acc-item {
  list-style: none;
  padding-left: 0;
}

.acc-item > div:first-of-type > * {
  pointer-events: none;
}

.acc-item > div:first-of-type {
  cursor: pointer;
}

.acc-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
