name: Protocol Tests
on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'protocol/**'

jobs:
  e2eTest:
    name: Hardhat Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'
          cache-dependency-path: protocol/yarn.lock

      - run: yarn install
        working-directory: protocol

      - run: yarn compile
        working-directory: protocol

      - run: yarn test
        working-directory: protocol
        env:
          TESTS_MAINNET_RPC_URL: ${{ secrets.TESTS_MAINNET_RPC_URL }}

  fuzzTest:
    name: Foundry Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'
          cache-dependency-path: protocol/yarn.lock

      - run: yarn install
        working-directory: protocol

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.0.10
        #with:
        #  version: nightly-ca67d15f4abd46394b324c50e21e66f306a1162d
      
      - run: forge --version
        working-directory: protocol

      - name: Run tests
        run: FOUNDRY_PROFILE=ci forge test --gas-report
        working-directory: protocol
